.content{
  color: #fff;
  
}

.block{
  display: block;
  background: #000;
}

.inline-block{  
  display: inline;
  background: #444;
}


.inline{
  display: inline;  
  background: #999;
}

.link{
background: yellow;
}